<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="toprow row">
            <div class="col-9">
                <h1 class="fw-bold display-3"><%=log.date%></h1>
            </div>
            <div class="col-3 createbttnhome">
                <form class="createbttnhome1" action="/log">
                    <input class="btn btn-secondary" type="submit" value="home">
                </form>
            </div>
        </div>
        <div id="feelingtoday" class="entry">
            <h4 class="info1">Today I am feeling: </h4>
            <p class="info info2 answer"><%=log.feeling%></p>
            <img class="info" id="emojishow" src="<%=log.feelingemoji%>">
        </div>
        <div class="entry">
           <h4 class="info1">Emotions:</h4>
           <p class="info answer"><%=log.emotions%></p>
        </div>
        <div class="entry">
            <h4 class="info1">Entry:</h4>
            <p class="info answer"><%=log.entry%></p>
        </div>
        <div id="showfooter">
            <form action="/log/<%=log._id%>/edit">
                <input class="btn btn-secondary" type="submit" value="edit">
            </form>
            <form id="delete" action="/log/<%=log.id%>?_method=DELETE" method="POST">
                <input class="btn btn-secondary" type="submit" value="delete">
            </form>
        </div>
    </div>
</body>
</html>